body {
    font-family: PingFangSC-Light,'helvetica neue','hiragino sans gb',tahoma,'microsoft yahei ui','microsoft yahei',simsun,sans-serif;
    font-size: 12px;
}

.center {
    text-align: center !important;
    vertical-align: middle !important;
}

label.valid {
    width: 22px;
    height: 22px;
    background: url(../img/done.gif) center center no-repeat;
    display: inline-block;
    text-indent: -9999px;
}
label.error {
    font-weight: bold;
    color: red;
    padding: 2px 8px;
    margin-top: 2px;
}

.filter {
    cursor: pointer;
}

.articleInput {
    width: 400px;
}

.footer {
    padding: 10px;
    left: 0px;
    right: 0px;
    position: fixed;
    bottom: 0px;
    margin: 0px;
    background-color: #2e2e2e;
    color: #999;
    font-size: 12px;
}

a, a:hover, a:visited, a:link {
    text-decoration-line: none;
    color: #08c;
}

.dataList {
    padding-top: 20px;
}

#toolbar{
    line-height: 40px;
    width: 100%;
    font-size: 12px;
}

#pageTree {
    overflow-x: hidden;
    overflow-y: auto;
    margin-left: 0px;
    margin-top: 5px;
    border: solid 1px #cfcfcf;
    padding: 5px;
    width: 270px;
    height: 200px;
}

.nav-list > li > a, .nav-list .nav-header {
    font-weight: normal;
    text-shadow: 0 0px 0 rgba(255, 255, 255, 0);
}

.navbar-text a {
    padding: 0 10px;
}

#notify,#message {
    display: inline-block;
    position: relative;
    color: #999;
}

#notify .badge,
#message .badge  {
    position: absolute;
    font-size: 9px;
    left: 100%;
    margin-left: -16px;
    margin-top: -20px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 11px;
    display: none;
}

#notify:hover,
#message:hover {
    color: #fff;
}

.online {
    color: #47b800;
    float: left;
}

.network {
    color: #0007dd;
    float: left;
}

.offline {
    color: #e3000d;
    float: left;
}

.ui-dialog .ui-dialog-content:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

.btn {
    font-size: 12px;
}

.btn:focus {
    outline: thin dotted #333;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

[class^="icon-"]:focus, [class*=" icon-"]:focus {
    outline: -webkit-focus-ring-color auto 0px;
}

a:focus {
    outline: thin dotted #333;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.ui-dialog .ui-dialog-titlebar {
    font-size: 14px;
    padding: 0px 10px;
}
.ui-dialog .ui-dialog-titlebar-close {
    margin: -10px 0 0 0;
    padding: 0px 0px;
}

.form-horizontal .control-label {
    float: left;
    width: 100px;
    padding-top: 5px;
    text-align: right;
    font-size: 12px;
}

.controls input, label {
    font-size: 12px;
}

.form-horizontal .controls {
    margin-left: 106px;
}

.input-append input, .input-prepend input, .input-append select, .input-prepend select, .input-append .uneditable-input, .input-prepend .uneditable-input, .input-append .dropdown-menu, .input-prepend .dropdown-menu, .input-append .popover, .input-prepend .popover {
    font-size: 12px;
}

textarea, select {
    font-size: 12px;
}


._processing {
    visibility: hidden;
    z-index: 9999;
    top: 4px;
    margin-top: 0px;
    position: absolute;
    left: 50%;
    width: 250px;
    margin-left: -125px;
    border: 1px solid #ddd;
    text-align: center;
    /* color: #999; */
    font-size: 11px;
    padding: 5px 0;
    background: rgba(255, 255, 255, 1);
    color: #000;
    border-radius: 5px;
}

.dataTables_wrapper {
    position: relative;
    width: 100%;
    height: 500px;
    clear: both;
    overflow-x: hidden;
    overflow-y: auto;
}

.dataTables_processing {
    z-index: 9999;
    position: absolute;
    top: 100px;
    left: 50%;
    width: 250px;
    margin-left: -125px;
    border: 1px solid #ddd;
    text-align: center;
    /*color: #999;*/
    font-size: 11px;
    padding: 5px 0;
    background: rgb(147, 147, 147);
    color: rgb(238, 238, 238);
    border-radius: 20px;
}

ul#idleList {
    margin: 5px;
    width: 330px;
    min-height: 100px;
    font-size: 12px;
    padding: 0px;
}

ul#idleList li {
    float: left;
    width: 330px;
    padding: 6px 0px 0px 6px;
    list-style: none;
    line-height: 30px;
    border-bottom: solid 1px #F7F7F7;
}

ul#idleList li:hover {
    background-color: #f9f9f9;
    cursor: pointer;
}

ul#idleList .block {
    width: 330px;
    float: left;
}

ul#idleList .img {
    width: 40px;
    float: left;
    /*padding-left: 10px;*/
}

ul#idleList .location {
    font-weight: bold;
}

ul#idleList .duration {
    float: left;
    width: 100%;
    padding-bottom: 5px;
}

ul#idleList .left {
    float: left;
}

.idle-modal {
    height: 550px;
    padding: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}

@media (max-height: 650px) {
    .idle-modal {
        height: 450px;
        padding: 0px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

.picture-wrapper {
    height: 450px;
    padding: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}

.idle-form-horizontal{
    padding-top: 10px;
    padding-left: 10px;
}

.picture-form-horizontal{
    padding-top: 10px;
    padding-left: 10px;
    height: 40px;
}

.idle-form-horizontal .control-label{
    float: left;
    width: 40px;
    padding-top: 5px;
    text-align: left;
    font-size: 12px;
}

.picture-form-horizontal .control-label{
    float: left;
    width: 60px;
    padding-top: 5px;
    text-align: left;
    font-size: 12px;
}

.picture-form-horizontal .date-input {
    width: 120px;
}

.picture-form-horizontal .btn {
    margin-bottom: 10px;
}

.idle-ui-dialog {
    padding: 0px!important;
}

.idleMarker {
    background: url(../images/marker.png) no-repeat 0px 5px;
    padding-left: 5px;
    color: #fff;
    width: 32px;
    height: 32px;
}

.idleLocation {
    padding-right: 5px;
}

.viewer-fixed {
    position: absolute!important;
}

.viewer-canvas>img {
    margin-left: auto!important;
    margin-top: 50px!important;
}

.img-label {
    text-align: center;
    width: 100%;
    background-color: #f7f7f7;
    padding: 3px;
}

.parent-fee {
    padding-left: 10px;
}
.amap-ui-control-layer-selector {
    margin-top: 2px;
    position: relative;
    top: -3px !important;
}