<div id="divCustomerAssign" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" title="">
    <form id="frmCustomerAssign" class="form-horizontal">
        <div class="modal-body form-horizontal">
            <div class="control-group">
                <!-- Text input-->
                <label class="control-label" for="customerTreeAssign" data-i18n="system.customer"><%= t('system.customer') %></label>
                <div class="controls customerTreeAssign">
                    <ul id="customerTreeAssign" class="ztree">
                        <p style="text-align: center; padding-top: 5px">
                            <img style='width:16px;height:16px' src='/img/waiting.gif'/>
                        </p>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>